#wrap {
    width: 400px;
    margin: auto;
    font-family: 'Noto Sans KR', sans-serif;
}
#wrap>img {
    width: 400px;
    border-radius:4px;
}
h1{
    color:#505050;
}
h1 span {
    font-size: 16px;
}
.inputDiv {
    margin: 14px 0;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid #e1ddee;
}
.inputDiv label {
    display: inline-block;
    background-color: #dee0ec;
    padding: 8px 10px;
}
.inputDiv input {
    width: 300px;
    border: none;
    outline: none;
    margin-left: 10px;
    font-size: 14px;
}
.inputDiv select{
    width:348px;
    padding:5px;
    border:none;
    outline: none;
}
.btnSection {
    text-align: center;
}
button {
    border: none;
    border-radius: 4px;
    background-color: #445bdf;
    padding: 10px 20px;
    color: #fff;
    cursor:pointer;
}